<h4><small>RECENT POSTS</small></h4>
<hr>
<h2>{{ post.title }}</h2>
<h5><span class="glyphicon glyphicon-time"></span> Posted by {{ post.user.username }}on {{format_date post.time }}..</h5>
<p>{{ post.text }}</p>
<br><br>


<h4>Leave a Comment:</h4>
<p><span class="badge">{{ commentCount }}</span> Comments:</p><br>
<form role="form">
    <div class="form-group">
        <textarea id="commentTxt" class="form-control" rows="3" required></textarea>
    </div>
    <input type="hidden" id="postId" name="postId" value={{ post.id }}>
    <button id="newComment" type="submit" class="btn btn-success">Submit</button>
</form>
<h2 id="commentErr"></h2>

{{#each comments}}
<div class="row">
    <div class="col-sm-10">
        <h4>{{ user.username }} <small>On {{ format_date  time }}</small></h4>
        <p>{{ text }}</p>
        <br>
    </div>

</div>
{{/each}}