<h4><small>RECENT POSTS</small></h4>
{{#each posts}}
<hr>
<h2><a href="/comment/{{ id }}">{{ title }}</a></h2>
<h5><span class="glyphicon glyphicon-time"></span> Posted by <b>{{ user.username }}</b> on <i>{{format_date time }}</i>.</h5>
<p>{{ text }}</p>
<br><br>
{{/each}}