<h4><small>MY POSTS</small></h4>
{{#each posts as |post| }}
<hr>
<h2><a href="/comment/{{ post.id }}">{{ post.title }}</a></h2><a href="/edit/{{ post.id }}">Edit</a><br><a href="/delete/{{ post.id }}">Delete</a>
<h5><span class="glyphicon glyphicon-time"></span> Posted on {{format_date post.time }}.</h5>
<p>{{ post.text }}</p>
<br><br>
{{/each}}

<hr>
<h4>Post an Article</h4>
<form role="form" >
    <div class="form-group">
         <input type="text" id="postTitle" id="Title" class="form-control" placeholder="Title" style="margin-bottom:2px;" required>
        <textarea id="postTxt" class="form-control" rows="3" required></textarea>
    </div>
    <button id="newPost" type="submit" class="btn btn-success">Submit</button>
</form>
<h2 id="postErr"></h2>